.logo {
    height: 65px;
    top: 0px;
    position: absolute;
}

.nav>li>a {
    font-size: 18px;
    margin-top: 15px;
    font-family: "Nunito", sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #12871b;
}

.imgvi {
    margin-top: 60px;
    margin-left: 20px;
    height: 500px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: margin-top 0.7s;
    transition: margin-top 0.6s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition: margin-top 0.6s;
    -moz-transition-timing-function: ease-out;
}

.imgmi {
    margin-top: 60px;
    margin-right: 20px;
    height: 500px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: margin-top 0.7s;
    transition: margin-top 0.6s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition: margin-top 0.6s;
    -moz-transition-timing-function: ease-out;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


.img1 {
    top: 0;
    right: 2px;
    margin-right: -60px;
    margin-top: -30px;
    position: absolute;
    height: 70px;
}

#shadow {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 6.5px 10px rgba(0, 0, 0, 0.06),
        0 6.3px 17.9px rgba(0, 0, 0, 0.072),
        0 1.8px 33.4px rgba(0, 0, 0, 0.06),
        0 10px 80px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    border: none;
    text-align: left;
    font-weight: 700;
    color: rgb(80, 212, 32);
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

.text1 {
    margin-left: 5px;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: rgb(22, 133, 19);
    font-style: italic;
}

.text2 {
    margin-left: -10px;
    font-size: 18px;
    text-align: center;
    font-family: Courier New, monospace;
    color: rgb(22, 133, 19);
    font-style: italic;
}

.button {
    font-size: 18px;
    display: block;
    text-align: left;
}

.text {
    font-size: 15px;
    text-align: left;
    color: rgb(54, 143, 21);
    font-family: "Nunito", sans-serif;
    font-weight: 100;
}

.btn {
    background-color: #3c9c19;
    border: none;
    color: white;
    padding: 5px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 20px;
    font-family: "Nunito", sans-serif;
    display: outline-block;
}

/* Darker background on mouse-over */

.btn:hover {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 6.5px 10px rgba(0, 0, 0, 0.06),
        0 6.3px 17.9px rgba(0, 0, 0, 0.072),
        0 1.8px 33.4px rgba(0, 0, 0, 0.06),
        0 10px 80px rgba(0, 0, 0, 0.12);
}

.button:hover {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 6.3px 17.9px rgba(0, 0, 0, 0.072),
        0 1.8px 33.4px rgba(0, 0, 0, 0.06),
        0 10px 80px rgba(0, 0, 0, 0.12);
}

/**{
box-sizing: border-box;
}*/
.column {
    padding: 10px;
    margin-top: 40px;
    text-align: left;
}

.column1 {
    padding: 10px;
    margin-top: 80px;
    /*margin-left: 20px;*/
    padding-left: 45px;
}

.head {
    color: rgb(54, 143, 21);
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

.button1 {
    margin-top: 20px;
    text-align: center;
    /* margin: 40px 450px 0px 450px; */
    margin-left: 150px;
    padding: 10px 50px 10px 50px;
    background: #3c9c19;
    color: white;
    font-weight: 100;
    cursor: pointer;
    font-size: 22px;
    display: inline-block;
    border-radius: 30px;
    font-family: "Nunito", sans-serif;
}

body {
    background-image: url("https://c7.uihere.com/files/870/865/119/green-fresh-leaf-border-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767.98px) {
    .col-sm-12{
        position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
text-align: center;
    }
    .text{
        text-align: center;
    }
    .button1{
        text-align: center;
        margin-left: 0px;
    }
    .imgvi{margin-left: 0px;}
    .imgmi{margin-left: 0px;}
}
#saveDrawnItemsButton{
    margin-top: 20px;
    text-align: center;
    /* margin: 40px 450px 0px 450px; */
    margin-left: 100px;
    padding: 10px 50px 10px 50px;
    background: #3c9c19;
    color: white;
    font-weight: 100;
    cursor: pointer;
    font-size: 22px;
    display: inline-block;
    border-radius: 30px;
    font-family: "Nunito", sans-serif;
}